
.personBox {
	width: 91vw;
}
.personBox div {
	border: solid black 2px;
	padding-left: 4px;
	text-align:  left;
	margin-right: 7px;
	height: 30vh;
	display: inline-block;
	background: #D4F1C7;
	max-width: 29%;
	margin-bottom: 7px;
	width: 32%;
}
li {
	font-size: 12px;
}
span {
	display: block;
}

.name {
	font-size: 18px;
}

.title {
	font-size: 15px;
}

.end {
	font-size: 14px;
}